.MultiSelectDropdown {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

MultiSelectDropdown > div:button {
    background-color: gray;
}


.MultiSelectDropdownRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    width: 100%;
    background-color: white;
    border: none;
}


.MultiSelectDropdownRow > button:active {
    border: none;
}